<section class="tr_section">
  <ul class="tr_columns">
    <% photos.each do |photo| %>
      <li class="tr_column">
        <div>
          <%= link_to photo_path(photo.id) do  %>
            <%= image_tag photo.image if photo.image.attached? %>
          <% end %>
          <p>
            <%= photo.visits.count %> visits
          </p>
          <p>
            Posted by: <%= photo.user.email %>
          </p>
        </div>
        <div>
          <button>Show on Map</button>
          <%= button_to "Details", photo_path(photo), method: :get %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
