<!DOCTYPE html>
<html>
  <head>
    <title>AaronNicoleAdlaiWilson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'map-bundle', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <label class="dropdown">
      <div class="dd-button">
        Main Menu
      </div>
      <input type="checkbox" class="dd-input" id="test">
      <ul class="dd-menu">
        <% if current_user %>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>              
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Map View", map_path %></li>                 
      </ul>
    </label>
    <%= yield %>
  </body>
</html>
