<!DOCTYPE html>
<html>
  <head>
    <title>AaronNicoleAdlaiWilson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'map-bundle', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <nav>
      <label class="dropdown">
        <div class="dd-button">
          Main Menu
        </div>
        <input type="checkbox" class="dd-input" id="test">
        <ul class="dd-menu">
          <% if current_user %>
            <li><%= link_to 'My Photos', my_photos_path %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Map View", map_path %></li>
        </ul>
      </label>
      <% if user_signed_in? %>
        <button id="uploadButton"><span class="emoji">📎</span></button>
        <%= render 'form', photo: @photo %>
      <% end %>
    </nav>
    <%= yield %>

    <button id="scrollButton">Top</button>

    <script>
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
          document.getElementById("scrollButton").style.display = "block";
        } else {
          document.getElementById("scrollButton").style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }

      function showDropzone() {
        const imageUploadDZ = document.getElementById("image-upload-dropzone");
        if (imageUploadDZ.style.display === "block") {
          imageUploadDZ.style.display = "none";
        } else {
          imageUploadDZ.style.display = "block";
        }
      }

      document.addEventListener("turbolinks:load", function(){
        const scroll = document.getElementById('scrollButton')
        if(scroll) scroll.addEventListener('click', topFunction)

        // When the user clicks on the button, scroll to the top of the document
        const uploadButton = document.getElementById('uploadButton')
        if (uploadButton) uploadButton.addEventListener('click', showDropzone)
      })
    </script>
  </body>
</html>
