<!DOCTYPE html>
<html>
  <head>
    <title>AaronNicoleAdlaiWilson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'map-bundle', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>
    <% if user_signed_in? %>
      <%= button_to  "Log Out", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
